
.container{
    color: white;
}
.selectQ{
    background-color: darkslateblue;
    height: 40vw;
    margin-top: 5vh;
    line-height: 40vw;
    text-align: center;
}
.selectBox1{
    background-color: red;
    height: 55vw;
    margin-top: 2vh;
    line-height: 55vw;
    text-align: center;
}
.selectBox2{
    background-color: blue;
    height: 55vw;
    margin-top: 2vh;
    line-height: 55vw;
    text-align: center;
}