
body{
    margin: 0;
}
.container{
    color: white;
}
.selectQ{
    background-color: darkslateblue;
    height: 40vw;
    margin-top: 5vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ---------------------------------------------------- */

/* Map Layout */
.mapLayout {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2vh;
}
.zipLayout {
  margin: auto;
  text-align: center;
}
#zipcode {
  border: 1px solid black;
  width: 50vw;
  height: 3vh;
  margin: 3vw auto;
  display: flex;
  justify-content: center;    
}
#map {
  /* height: 50vh; */
  margin: 3vh;
}
#submit {
  margin: auto;
  width: 50vw;
  height: 3vh;
  border: 1px solid black;
}

/* ------------------------- pageTab below --------------------------- */

.cakePage{
    display: block;
}
.cakeHeader{
    background-color: darkslateblue;
    height: 30vw;
}

.tabContainer{
    height: 10vh;
}
.tab {
    
    overflow: hidden;
    border: 1px solid rgb(202, 80, 80);
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    color: black;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
/* ---------------------------------------------------- */

.selectBox1{
    background-color: red;
    height: 55vw;
    margin-top: 2vh;
    line-height: 55vw;
    text-align: center;
}
.selectBox2{
    background-color: blue;
    height: 55vw;
    margin-top: 2vh;
    line-height: 55vw;
    text-align: center;
}
/* ---------------------------------------------------- */

.cakeName{
    background-color: red;
    height: 20vw;
}
.cakeImg{
    background-color: blue;
    height: 50vw;
}
.allergyBar{
    background-color: blueviolet;
    height: 20vw;
}
.recipeBox{
    background-color: palevioletred;
    height: 100vw;
}
.row2{
    margin: 0;
}
.restartButton{
    display: none;
    background-color: palegreen;
    height: 10vw;
    width: 35vw;
    line-height: 10vw;
    text-align: center;
}

.vidPage{
    display: none;
}

.decoPage{
    display: none;
}